.login-container header{
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: roboto, sans-serif;
    font-weight: bold;

}
/*main*/
.login-container main {
    margin-top: 30px;
    
}

.login-container h1, .login-container h2 {
    margin: 60px 20px 30px 20px;
    font-size: 30px;
    text-align: center;
    font-family: roboto, sans-serif;
}
.login-container h2 {
    opacity: 0.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;    
}

.login-container main div {
    margin: 60px 10px;

}

.login-container main div form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-container main div form input {
    margin-top: 10px;
    
}

.login-container main div form button {
    margin-top: 15px;
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
}

.login-container main div p {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    font-family: roboto;
    
}

@media(min-width: 700px){
    .login-container main {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }   
}